#sidebar {
    position: fixed;
    width: 200px;
    height: 100%;
    top: 57;
    left: 0;
    background: gray;
}

#pin {
    margin-left: 10px;
}

#topbar {
    position: fixed;
    width: 100%;
    height: 57px;
    top: 0;
    left: 0;
}

#search {
    position: fixed;
    width: 100%;
    height: 57px;
    top: 0;
    font-size: 20px;
}